$shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
$font:'Roboto', sans-serif;
$font-color: #555555;



@keyframes blurred-bg {
  0% {
    -webkit-filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(10px);
  }
}

header {
  text-align: left;
  width: 100%;
  height: 350px;
  background: black;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;

}

.background-img {
  background: black url('/images/architektura/pexels-photo-261187.jpeg');
  opacity: 0.75;
  background-size: cover;
  background-position: 50% 60%;
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: 0;
/*   -webkit-filter: blur(4px); */
    -webkit-animation: blurred-bg 2s 1 forwards;
    box-sizing: border-box;
}

header > *:not(.background-img) {
  z-index: 5;
  position: relative;
}

.text {
  margin-top: 105px;
  color: white;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
    opacity: 0.2;
}

h1 {
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

h2 {
  font-family: $font;
  margin-top:44px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.image {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: $shadow;
  width: 100%;
}

.image img{
  height: 190px;
  width: auto;
}

.image-add {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: $shadow;
  width: 24%;
  margin-bottom:15px; 
  margin-right: 10px; 
  z-index: 999;
}

.center {
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;  
}



.photo {
  height:200px;
}

.category-text {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $font;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
  color: $font-color;
}

.add {
  display: block; 
  width: 50px;
}

.equal {
 // justify-content: space-between;
  flex-wrap: wrap;
  display:flex;
  flex-direction: row;   
}
.opacity-5 {
  opacity: 0.3;
}
